* {
    background-color: rgba(178, 210, 238, 0.995) !important;
}

.cart {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 159, 228) !important;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

.cart:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    background-color: rgb(54, 114, 163) !important;
}

.section {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.photo:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2) !important;
}